<html lang='ru'>
  <head>
    <meta charset='UTF-8' />
    <title>Добро пожаловать в {{appName}}</title>
  </head>
  <body>
    <div
      style='max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1);'
    >
      <h2 style='color: #333333;'>Здравствуйте!</h2>
      <p style='color: #555555; font-size: 16px;'>
        Благодарим вас за регистрацию. Пожалуйста, подтвердите свой адрес
        электронной почты, нажав на кнопку ниже:
      </p>
      <div style='text-align: center; margin: 30px 0;'>
        <a
          href={{link}}
          target='_blank'
          style='background-color: #4CAF50; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px; font-size: 16px; cursor: pointer;'
        >
          Подтвердить почту
        </a>
        <a href={{link}} target='_blank'>Подтвердить почту аналогично</a>
        <a href='http://{{link}}'>11111111111111111111111111</a>
      </div>
      <p style='color: #999999; font-size: 14px;'>
        Если вы не регистрировались на нашем сайте, просто проигнорируйте это
        письмо.
      </p>
      <hr
        style='border: none; border-top: 1px solid #eeeeee; margin: 20px 0;'
      />
      <p style='color: #cccccc; font-size: 12px; text-align: center;'>
        Это письмо отправлено автоматически, пожалуйста, не отвечайте на него.
      </p>
    </div>
  </body>
</html>